/*@include multiline(4, $brightness-86, bottom);*/


.epic-reminder {
    .epic-reminder__prompt {
        width: 100%;
        text-align: right;
    }
    .epic-reminder__prompt-text {
        @include fs-textSans(5);
        font-weight: bold;
        cursor: pointer;
    }
    .epic-reminder__signup {}
    .epic-reminder__close-button {}
    .epic-reminder__form-title {
        @include fs-headline(3);
        font-weight: bold;
    }
    .epic-reminder__email-label {
        @include fs-textSans(5);
        font-weight: bold;
        display: block;
    }
    .epic-reminder__email-input-wrapper {
        display: flex;
    }
    .epic-reminder__email-input {}
    .epic-reminder__email-help-text {
        @include fs-textSans(4);
        display: block;
    }
    .epic-reminder__submit-button-wrapper {
        alignment: right;
    }
    .epic-reminder__submit-button {
        @include fs-textSans(4);
        margin-left: 10px;
        font-weight: bold;
        color: white;
        background: #052962;
        border-radius: 160px;
    }

    .epic-reminder__email-terms-and-conditions {
        @include fs-textSans(3);
        font-style: italic ;
        alignment: left;
    }
}
